button{
    width: 160px;
    height: 50px;
    
}
.main{
    padding-left: 100px;
    padding-top: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
input{
    width: 480px;
    height: 50px;
    
}
label{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}